body {
    margin-top: 65px;
    margin-left: -8px;
    margin-right: 16px;
    margin-bottom: 65px;
}

ol {
    list-style-type: none;
    margin: 0;
    margin-left: 24px;
    padding: 0;
    counter-reset: li-counter;
}

ol > li, ol > p {
    position: relative;
    text-indent: 1.5em;
    margin-bottom: 5px;
    text-align: justify;
}

ol > li:before {
    position: absolute;
    top: 1px;
    left: -2.3em;
    width: 0.8em;
    font-size: 60%;
    line-height: 2;
    content: counter(li-counter,decimal);
    counter-increment: li-counter;
}

.Small-Caps {
    font-variant: small-caps;
}

.SMALL-CAPS {
    font-variant: small-caps;
}

img {
    width: 100%;
}

p.paraIndent {
    padding-left: 1em;
}

p.paraHangingIndent {
    text-indent: 0.5em;
}

p.paraDoubleIndent {
    padding-left: 2em;
}

p.paraDoubleFirstLineIndent {
    text-indent: 0.5em;
    padding-left: 2em;
}

p.paraFirstLineIndent {
    text-indent: 0.5em;
    padding-left: 1em;
}

sup {
    font-size: 0.6em;
}

hr {
    margin-top: 15px;
    display: block;
    border: 0px;
    height: 10px;
    background-image: url('Images/tc/standard-divider.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body.dark hr {
    background-image: url('Images/tc/standard-divider-white.png');
}